body {
    background-color: yellow;
}
header {
    padding: 20px;
    display: grid;
    place-items: center;
    text-shadow: 1px 1px 1px;
    background-color: blue;
    margin: -8px;
}

.logo {
    display: grid;
    place-items: center;
}

.navigation {
    display: grid;
    place-items: center;
}
.paragraph, .my_paragraph {
    font-weight: bold;
}

.m {
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
}

a {
    color: red;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    background-color: black;
    border: 3px solid yellow;
    border-radius: 4px;
    text-decoration: none;
}

main, footer {
    padding: 10px;
}

footer {
    background-color: black;
    margin: -8px;
    color: white;
}

.owner {
    color: red;
    padding: 3px;
    margin: 3px;
    border: 3px solid blue;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    font-style: oblique;
}

.about {
    padding: 2px;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
}

.contact, .map {
    padding: 5px 10px;
    border: 3px double blue;
    margin: 10px 0;
}


